.w-20px {
  width: 20px !important;
}
.w-32px {
  width: 32px !important;
}
.w-40px {
  width: 40px !important;
}
.w-42px {
  width: 42px !important;
}
.w-60 {
  width: 60% !important;
}
.w-lg-58px {
  @include media-breakpoint-up(lg) {
    width: 58px !important;
  }
}
.w-xl-80px {
  @include media-breakpoint-up(xl) {
    width: 80px !important;
  }
}

.mw-335px {
  max-width: 335px;
}

.h-20px {
  height: 20px !important;
}
.h-32px {
  height: 32px !important;
}
.h-40px {
  height: 40px !important;
}
.h-42px {
  height: 42px !important;
}
.h-lg-58px {
  @include media-breakpoint-up(lg) {
    height: 58px !important;
  }
}
.h-xl-80px {
  @include media-breakpoint-up(xl) {
    height: 80px !important;
  }
}

.border-start-lg-0 {
  @include media-breakpoint-up(lg) {
    border-left: 0 !important;
  }
}

.translate-middle-rotate-n3 {
  transform: translate(-50%, -50%) rotate(-3deg) !important;
}

.translate-middle-rotate-n4 {
  transform: translate(-50%, -50%) rotate(-4deg) !important;
}

.rotate-2 {
  transform: rotate(2deg) !important;
}
.rotate-n2 {
  transform: rotate(-2deg) !important;
}
