<nav class="navbar navbar-expand-lg py-3 py-lg-6 border-bottom border-black border-2">
  <div class="container">
    <a class="d-flex align-items-center me-lg-11" href="./">
      <img src="./../assets/images/logo.png" alt="logo" class="w-42px w-lg-58px h-42px h-lg-58px me-lg-4">
      <h1 class="d-none d-lg-block fs-4 fw-normal me-1">7TAO</h1>
      <h2 class="d-none d-lg-block fs-9">活動訂票網</h2>
    </a>
    <form class="d-flex w-60 mw-335px" role="search">
      <input class="form-control fs-9 px-3 px-lg-6 py-lg-4" type="search" placeholder="探索活動" aria-label="Search">
      <button class="btn btn-black fs-9 fs-lg-7 text-primary p-3 p-lg-4" type="submit"><i class="icofont-search-1 d-block"></i></button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="headerNavbar">
      <ul class="navbar-nav fs-8 pt-4 pt-lg-0">
        <li class="nav-item me-4">
          <a class="nav-link" href="#">
            <i class="icofont-ui-file me-1"></i><span>REGISTER</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icofont-ui-user me-1"></i><span>LOGIN</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
